/*
    Theme: Personal Portfolio;
    Version: 1.0;
    Author: Ruja Awal;

*/

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.clearfix{
    float: none;
    clear: both;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.img-responsive{
    width: 100%;

}

.btn{
    background-color: blue;
    color: white;
    padding: 2%;
    text-decoration: none;
}

.btn:hover{
    border: 1px solid blue;
    background-color: white;
    color: blue;
}

.col-2{
    width: 48%;
    float: left;
    padding: 1%;
}
.col-4{
    border: 1px solid black;
    width: 28%;
    float: left;
    margin: 2%;
}

/* CSS for Navbar */

.logo{
    width: 20%;
    float: left;
    font-weight: bold;
    padding: 1%;
}

.menu{
    width: 70%;
    float: right;
    padding: 2%;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 2%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
}

.menu ul li a:hover{
    color: black;
    text-decoration: underline;
}

/*CSS for About Section */


.about-title{
    margin-bottom: 4%;
}

.about-subtitle{
    font-weight: bold;
    color: gray;
    margin-bottom: 6%;
}

.about-description{
    font-size: 1.2em;
    line-height: 35px;
    margin-bottom: 10%;
}

/* CSS for Projects Section*/

.projects a{
    color: white;
    font-weight: bold;
    
}

.projects a:hover{
    color: lightseagreen;
}

.project-box{
    position: relative;
}

.project-title{
    position: absolute;
    top: 80%;
    padding: 2%;
    
}
